// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
th {
    padding: 1px 1px 5px;
}

td {
    margin: 33px;
    padding: 1px 4px 7px;
    font-size: 13px;
}

h2 {
    margin: 16px 0;
    
}